{% extends "layout.html" %}
{% block sidebar %}
{% if suite in ('fresh-releases', 'fresh-snapshots') %}
{% include "new-upstream-sidebar.html" %}
{% elif not suite %}
{% include "cupboard-sidebar.html" %}
{% else %}
{% include suite + "-sidebar.html" %}
{% endif %}
{% endblock %}
{% from "lintian-fixes-util.html" import lintian_brush_summary %}
{% from "multiarch-fixes-util.html" import multiarch_hints_summary %}
{% block page_title %}Changes ready to publish{% if suite %} - {{ suite }}{% endif %}{% endblock %}
{% block body %}
 <div class="section" id="history">
<h1>Ready to publish</h1>
<ul>
{% for run, maintainer_email, uploader_emails, branch_url, publish_mode, changelog_mode, compat_release in runs %}
<li><a href="pkg/{{ run.package }}/{{ run.id }}">{{ run.package }}</a>{% if run.command.startswith('lintian-brush') %}
{{ lintian_brush_summary(run.result['applied']) }}
{% elif run.command.startswith('new-upstream ') or run.command == 'new-upstream' %}
{% if '--snapshot' in run.command %}: Merge new upstream snapshot <b>{{ run.result['upstream_version'] }}</b>
{% else %}: Merge new upstream release <b>{{ run.result['upstream_version'] }}</b> {% endif %}
{% elif run.command.startswith('apply-multiarch-hints') %}
Apply multi-arch hints: {{ multiarch_hints_summary(run.result['applied-hints']) }}
{% elif run.command.startswith('orphan') %}
Move orphaned package to QA team.
{% else %}: Unknown command {{ run.command }}
{% endif %}
</li>
{% endfor %}
</ul>
</tbody>
</table>
{% endblock %}
